*

# add README
!README.md
# add gitignore
!.gitignore
# add xaerominimap-common.txt
!xaerominimap-common.txt
# add xaeroworldmap-common.txt
!xaeroworldmap-common.txt

!world/
world/*

!world/scripts/
world/scripts/*

# add Scarpet scripts
!world/scripts/*.sc

!world/serverconfig/
world/serverconfig/*

# add ftbultimine-server.snbt
!world/serverconfig/ftbultimine-server.snbt

# add carpet.conf
!world/carpet.conf

!config/
config/*
!config/textile_backup.json5
!config/gtceu.yaml
